{% extends "base_generic.html" %}

{% block content %}
  <h1>Address List</h1>
  {% if address_list %}
  <table>
    <th>ID_adresu</th>
    <th>miasto</th>
    <th>kod_pocztowy</th>
    <th>ulica</th>
    <th>nr_budynku</th>
    <th>nr_lokalu</th>
    {% for address in address_list %}
        <tr>
        <a href="{{ Address.get_absolute_url }}"></a>
         <td>{{ address.ID_adresu}}</td>
          <td>{{ address.miasto}}</td>
         <td> {{ address.kod_pocztowy}}</td>
          <td>{{ address.ulica}}</td>
          <td>{{ address.nr_budynku}}</td>
          <td>{{ address.nr_lokalu}}</td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no accounts yet.</p>
  {% endif %}
{% endblock %}
