{% extends "base_generic.html" %}

{% block content %}
  <h1>Customer List</h1>
  {% if customer_list %}
  <table>
    <th>Account</th>
    <th>Address_id</th>
    <th>NIP</th>
    {% for customer in customer_list %}
      <tr>
        <a href="{{ Customer.get_absolute_url }}"></a>
        <td>{{ customer.account}}</td>
        <td>{{ customer.address_id}}</td>
        <td>{{ customer.NIP_id}}</td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no customers yet.</p>
  {% endif %}
{% endblock %}
