{% extends "base_generic.html" %}

{% block content %}
  <h1>Drivers_Vehicles List</h1>
  {% if drivers_vehicles_list %}
  <table>
    <th>kierowca</th>
    <th>pojazd</th>
    {% for Drivers_Vehicles in drivers_vehicles_list %}
      <tr>
        <a href="{{ Drivers_Vehicles.get_absolute_url }}"></a>
        <td>{{ Drivers_Vehicles.kierowca}}</td>
        <td>{{ Drivers_Vehicles.pojazd}}</td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no objects yet.</p>
  {% endif %}
{% endblock %}
