{% extends "base_generic.html" %}

{% block content %}
  <h1>Driver List</h1>
  {% if driver_list %}
  <table>
    <th>ID_kierowcy</th>
    <th>Account</th>
    <th>kat_prawa_jazdy</th>
    <th>doswiadczenie</th>
    {% for driver in driver_list %}
      <tr>
        <a href="{{ Driver.get_absolute_url }}"></a>
          <td>{{ driver.ID_kierowcy}}</td>
        <td>{{ driver.account}}</td>
        <td>{{ driver.kat_prawa_jazdy}}</td>
        <td>{{ driver.doswiadczenie}}</td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no drivers yet.</p>
  {% endif %}
{% endblock %}
