{% extends "base_generic.html" %}

{% block content %}
  <h1>Order List</h1>
  {% if ordershistory_list %}
  <table>
    <th>Delete</th>
    <th>Edit</th>
    <th>ID_zamowienia</th>
    <th>account_id</th>
    <th>service_id</th>
    <th>startAddress_id</th>
    <th>endAddress_id</th>
    {% for ordershistory in ordershistory_list %}
      <tr>
         <td><a href="http://127.0.0.1:8000/account/ordershistories/{{ ordershistory.ID_zamowienia}}/delete"><button>Delete</button></a></td>
        <td><a href="http://127.0.0.1:8000/account/ordershistories/{{ ordershistory.ID_zamowienia}}/update"><button>Edit</button></a></td>
        <td>{{ ordershistory.ID_zamowienia}}</td>
        <td>  {{ ordershistory.account_id}}</td>
         <td>  {{ ordershistory.service_id}}</td>
          <td> {{ ordershistory.startAddress_id}}</td>
         <td>  {{ ordershistory.endAddress_id}}</td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no orders yet.</p>
  {% endif %}
{% endblock %}
