{% extends "base_generic.html" %}

{% block content %}
  <h1>Service List</h1>
  {% if service_list %}
  <table>
    <th>ID_uslugi</th>
    <th>opis_uslugi</th>
    <th>koszt</th>
    {% for service in service_list %}
      <tr>
        <a href="{{ Customer.get_absolute_url }}"></a>
        <td>{{ service.ID_uslugi}}</td>
          <td> {{ service.opis_uslugi}}</td>
           <td>{{ service.koszt}}</td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no services yet.</p>
  {% endif %}
{% endblock %}
