{% extends "base_generic.html" %}

{% block content %}
  <h1>Timetable List</h1>
  {% if timetable_list %}
  <table>
    <th>Delete</th>
    <th>Edit</th>
    <th>ID_terminu</th>
    <th>data_pocz</th>
    <th>data_kon</th>
    <th>driver_id</th>
    <th>service_id</th>
    {% for timetable in timetable_list %}
      <tr>
        <td><a href="http://127.0.0.1:8000/account/timetables/{{timetable.ID_terminu}}/delete"><button>Delete</button></a></td>
        <td><a href="http://127.0.0.1:8000/account/timetables/{{timetable.ID_terminu}}/update"><button>Edit</button></a></td>
          <td>{{ timetable.ID_terminu}}</td>
          <td>{{ timetable.data_pocz}}</td>
          <td>{{ timetable.data_kon}}</td>
          <td>{{ timetable.driver_id}}</td>
          <td>{{ timetable.service_id}}</td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no Timetables yet.</p>
  {% endif %}
{% endblock %}
