{% extends "base_generic.html" %}

{% block content %}
  <h1>Vehicle List</h1>
  {% if vehicle_list %}
    <table>
    <th>Nr_rej</th>
    <th>marka</th>
    <th>model</th>
    <th>atrybut</th>
    {% for vehicle in vehicle_list %}
      <tr>
        <a href="{{ Vehicle.get_absolute_url }}"></a>
        <td>{{ vehicle.Nr_rej}}</td>
          <td>{{ vehicle.marka}}</td>
          <td>{{ vehicle.model}}</td>
          <td>{{ vehicle.atrybut}}</td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>There are no vehicles yet.</p>
  {% endif %}
{% endblock %}
