{% extends "base_generic.html" %}
(% block header %)
  <h1 class="display-3 own">Database home</h1>
(% endblock %)
{% block content %}
  <ul class="list-group">
    <li class="list-group-item "><strong>Accounts:</strong> {{ num_accounts }}</li>
    <li class="list-group-item"><strong>Employees:</strong> {{ num_employees }}</li>
    <li class="list-group-item"><strong>Address:</strong> {{ num_addresses }}</li>
    <li class="list-group-item"><strong>Customer:</strong> {{ num_customers }}</li>
    <li class="list-group-item"><strong>Driver:</strong> {{ num_drivers }}</li>
    <li class="list-group-item"><strong>Service:</strong> {{ num_services }}</li>
    <li class="list-group-item"><strong>OrdersHistory:</strong> {{ num_order }}</li>
    <li class="list-group-item"><strong>Timetable:</strong> {{ num_timetables }}</li>
    <li class="list-group-item"><strong>Vehicle:</strong> {{ num_vehicles }}</li>
    <li class="list-group-item"><strong>Drivers_Vehicles:</strong> {{ num_drivers_vehicles }}</li>
  </ul>
{% endblock %}
